language: php

php:
  - 5.6
  - 7.0
  - 7.1

before_script:
  - cp .env.example .env
  - mysql -e 'create database homestead_test;'
  - composer self-update
  - composer install

script:
  - php artisan key:generate
